[Unit]
Description=OpenNMS Provisioning Integration Server

[Service]
WorkingDirectory=/opt/opennms-pris/
ExecStart=/usr/bin/java -cp ./lib/*:./opennms-pris.jar org.opennms.pris.Starter
ExecStop=/bin/kill -TERM $MAINPID
User=root

[Install]
WantedBy=multi-user.target
